// Body
$body-bg: #fafbfe;

$primary: rgba(60, 73, 242, 0.93);

$card-cap-bg: #f9fafe;

// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$featured-color: rgba(60, 73, 242, 0.93);
$fa-font-path: "../webfonts";

$input-btn-focus-blur: 2px;

$nav-link-font-weight: $font-weight-semi-bold;
