@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;360;400;500;600;700&display=swap')
@import "variables"
@import '../../node_modules/bootstrap/scss/bootstrap'
@import "helpers"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid"

html, body
  overflow-x: hidden

body
  overflow-y: scroll
  position: relative
  background-image: url('/img/bg-alt.svg')
  background-size: 220px
  padding-top: 60px

.navbar-laravel
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)

  .navbar-brand
    font-weight: 500

    img
      max-height: 18px
      vertical-align: text-top
      opacity: 0.9
      margin-right: 0.5rem

.navbar-nav.nav-pills
  .nav-link.active
      color: white

  @include media-breakpoint-down(lg)
    .nav-link
      padding: 1.2em 1em



.table
  tr.clickable-row
    cursor: pointer

  th, td
    padding: 0.7rem 0.3rem

.table-contested, .table-contested > th, .table-contested > td
  background-color: rgba(249, 202, 207, 0.4)

.table-hover .table-contested:hover
  background-color: rgba(241, 176, 183, 0.5)

.table-hover .table-contested:hover > td, .table-hover .table-contested:hover > th
  background-color: rgba(241, 176, 183, 0.5)

.card.max-h-500
  overflow: hidden

  .card-body
    max-height: 500px
    overflow-y: auto

.welcome-page
  padding-top: 4px
  background-color: #fff
  background-image: url('/img/bg-alt.svg')
  background-size: 330px
  color: #636b6f
  font-weight: 360
  height: 100vh
  margin: 0

  .full-height
    height: 100vh

  .flex-center
    align-items: center
    display: flex
    justify-content: center

  .position-ref
    position: relative

  .content
    text-align: center

  .title
    font-size: 5em

    img
      max-height: 1em
      vertical-align: text-top
      padding-top: 0.1em
      opacity: 0.75

  .links
    & > a
      color: #636b6f
      padding: 0 25px
      font-size: 12px
      letter-spacing: .1rem
      text-decoration: none
      text-transform: uppercase

  @include media-breakpoint-down(md)
    .title
      font-size: 4ch
      line-height: 50px
      font-weight: 400
    .links
      & > a
        display: block
        line-height: 25px

      & > span
        display: block
        padding-top: 1rem

.page-item:first-child, .page-item:last-child
  font-weight: 800

@include media-breakpoint-up(lg)
  .nav-link
    margin-left: 0.4rem
