
.fw-semi-bold
  font-weight:  $font-weight-semi-bold !important

.featured
  color: $featured-color

.featured-i
  color: $featured-color !important

.featured-bg
  background-color: $featured-color

.uppercase
  text-transform: uppercase

.smaller
  font-size: 0.9em

.bigger
  font-size: 1.1em

.large-text
  font-size: 1.4em

.lh-bigger
  line-height: 1.1em

.lh-large
  line-height: 1.4em

.font-size-2em
  font-size: 2em

.no-wrap
  white-space: nowrap

.text-ellipsis
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 100%


.badge
  &.large
    font-size: 1em
    padding: 0.4em 0.8em
    line-height: 1em
    font-weight: 600
